/* styles here */

html,
body {
  height: 100%;
}

header {
  background: blue;
  color: white;
  height: 50px;
}

.video-container {
  background: red;
  border: 5px solid yellow;
  box-sizing: border-box;  
  height: calc(100% - 50px);
  overflow: hidden;
}

.video-try {
  border: 5px solid green;
  background: #00ff00;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.video {
  border: 5px solid yellow;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}